/*********************************************************************************/
/* ------------------------------ RESPONSIVE : TABLETTE ( 768px) ----------------- */
/*********************************************************************************/


@media (min-width: 768px)
{
header{
    gap: 40vw
}
/***************************SECTION Menu********************************/
/***************************FULL MENU********************************/
.section-main{
    &__img{
        height: 450px;
    }
}
.menu-title{
    width: 45%;
    justify-content: space-around;
    margin-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
 }
 
 /***************************LIST OF OPTIONS******************************/
.menu-area{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    .menu-options{
        flex-basis: 48%;
        .dish{
            margin-bottom: 20px;
            &__details{
                &__comment{
                    font-size: 13px;
                    white-space: nowrap;
                    width: 80%;
                    overflow: hidden;
                }
            }   
        }
    }
 }



}

/*********************************************************************************/
/* -------------------- RESPONSIVE : DESKTOP (992px ) ------------------------------ */
/*********************************************************************************/

@media (min-width: 992px)
{
 /***************************LIST OF OPTIONS******************************/
 .menu-area{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    .menu-options{
        flex-basis: 31%;
        margin-left: auto;
    }
 }

 .dish{width: 85%;}


}
