.dish {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/***************************SECTION IMG********************************/
/***************************BIG IMAGE********************************/
header {
  padding-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 18vw;
}

header a i {
  font-size: 30px;
  color: black;
  margin-top: 13px;
}

main {
  background: #F6F6F6;
}

/***************************SECTION Menu********************************/
/***************************FULL MENU********************************/
.section-main {
  position: relative;
}

.section-main__img {
  height: 250px;
  background-size: cover;
}

/************************IDIVIDUAL RESTAURANT IMG*****************************/
.rest-one-image {
  background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.rest-two-image {
  background-image: url("../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.rest-three-image {
  background-image: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.rest-four-image {
  background-image: url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

/*****************************************************************************/
.menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  bottom: -1px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #F6F6F6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 15px;
  padding-bottom: 30px;
}

/***************************LIST OF OPTIONS******************************/
.menu-options {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.menu-subtitles {
  margin-left: 20px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #353535;
}

.dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 94%;
  margin: auto;
  margin-bottom: 10px;
  background: white;
  -webkit-box-shadow: 4px 4px 6px #dbdad5;
          box-shadow: 4px 4px 6px #dbdad5;
}

.dish__title {
  font-size: 16px;
  width: 190px;
  white-space: nowrap;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

.dish__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2px;
  white-space: nowrap;
}

.dish__details__comment {
  font-size: 14px;
}

.dish__details__price {
  font-weight: 700;
  margin-right: 4px;
  margin-left: 4px;
}

:hover > .dish__details__comment {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.food__content {
  overflow: hidden;
}

.food__content:hover > .right {
  margin-right: 0;
}

.food__content:hover > .right > .check {
  transform: rotate(0turn);
  -webkit-transform: rotate(0turn);
  -moz-transform: rotate(0turn);
  -ms-transform: rotate(0turn);
  -o-transform: rotate(0turn);
}

.food__content .left {
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.food__content .right {
  margin-right: -50px;
  padding: 0;
  width: 50px;
  min-width: 50px;
  height: 62px;
  background-color: #9AE2D0;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.food__content .right .check {
  font-size: 1.5rem;
  color: white;
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

/*******************************BUTTON************************************/
.center-button {
  text-align: center;
}
/*# sourceMappingURL=menu-style.css.map */