/* Typographies : Raleway, shrikhand*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Shrikhand-Regular;
    src: url("../fonts/Shrikhand-Regular.ttf");
    font-display: swap;
    font-weight: normal;
  }

$cardbg: #F6F6F6;

@mixin card-shadow($colour){
    box-shadow: 4px 4px 6px $colour;
    }

%border{ border-radius:8px ; -webkit-border-radius:8px ; -moz-border-radius:8px ; -ms-border-radius:8px ; -o-border-radius:8px ; }

    
/***************************GENERAL************************************/
/****************************RULES************************************/


*{
margin: 0;
padding: 0;
font-family: 'Raleway', 'sans-serif', impact, arial;
}

.pretty-title{font-family: 'Shrikhand-Regular', 'Raleway', 'sans-serif', impact;}
/***************************SECTION************************************/
/****************************HEADER************************************/

header{
    text-align: center;
    box-shadow: 2px 5px 2px #0e0d0c;
    width: 100%;
    .header__logo{
        height: 2em;
        margin: 15px 0px 5px;
    }
}


main{
    padding-bottom: 40px;
}


/**************************THE MULTICOLOR BUTTON************************/

.multicolor-button{
    background-image: linear-gradient(to left top, #a75cd5, #ba61d7, #cb66d8, #dc6cd9, #ec73da);
    padding: 16px 20px;
    font-weight: 700;
    color: white;
    margin: 25px 20px 20px;
    border: 0;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    @include card-shadow(#dbdad5);
}

/***************************RANDOM ICONS********************************/
/**********************************************************************/
.heart-icon{
    font-size: 25px;
    color: black;
    padding-right: 5px;
}

.section-three, .menu-title{
    .fas{
        //linear gradient on fontawesome icon
        background: -webkit-linear-gradient(left top, #ba61d7 0%, #cb66d8 50%, #dc6cd9 50%, #ec73da 100%);    
        -webkit-background-clip: text;                     
        -webkit-text-fill-color: transparent;
        // colors position
        background-size: 200% 100%;
        background-position: 100% 0; 
        transition: background-position 0.3s;
    }
            // hover animation
    .fas:hover{
            background-position: 0 0;
    }
}


/***************************fadeIN********************************/
/*************************FONCTIONNEMENT********************************/
/************************Animation fade in********************************/
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-5vh); -webkit-transform: translateY(-5vh); -moz-transform: translateY(-5vh); -ms-transform: translateY(-5vh); -o-transform: translateY(-5vh); }
    100% { opacity: 1; transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); }
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration:5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: relative;
 }


/***************************CARD MODELS********************************/
/***************************RESTAURANTS********************************/


.restaurant-cards-area{
    display: flex;
    flex-direction: column;
    gap: 20px;
    article{
        width: 90%;
        margin: auto;
        position: relative;
        @include card-shadow(#dbdad5);
        @extend %border;
        .restaurant-card-text-area{
            display: flex;
            justify-content: space-between;
            margin: 10px;
        }
    }
}


/***************************SECTION*************************************/
/***************************FOOTER*************************************/
footer{
    background: #353535;
    padding: 30px 20px;
    .footer-logo{
        height: 20px;
        color: white;
        margin-bottom: 10px;
    }
    p{
        color: white;
        font-weight: 600;
        padding-bottom: 4px;
        footer p i{
            width: 25px;
        }
        a{
            text-decoration: none;
            color: white;
        }
    }
}


